[user]
	email = jabelsky@gmail.com
	name = Jason A. Belsky
[alias]
	st = status
	ss = status -s
[log]
	date = short
[format]
	pretty = format:%C(yellow)%h %C(cyan)%ad %C(green)%an %C(reset)%s
[core]
	editor = vim
	autocrlf = false
